:root {
    --primari-text-col:#212121;
    --secondari-text-col:#757575;
    --primari-background-color:#ffffff;
    --secondari-background-color:#2F303A;
    --hov-foc-color:#2196F3;
    --logo-color:#2196F3;
    --tagline-color:#ffffff;
    --logo-color-text:#000000;
    --botton-color:#2196F3;
    --botton-text-color:#ffffff;
    --footer-link-color:rgba(255, 255, 255, 0.6);
    --section-background-color:  #F5F4FA;
}

body {
    color: var(--primari-text-col);
    background-color: var(--primari-background-color);
    font-family: 'Roboto','Raleway','Times New Roman', sans-serif;
    font-style: normal;
}

.logo {
    color: var(--logo-color-text);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
}
a {text-decoration: none;
}
.logo>span {
    color: var(--logo-color);
}
.list {
    list-style: none;
}
.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    color:var(--primari-text-col)
}
.nav-link:hover,
.nav-link:focus {
color: var(--hov-foc-color);
}
.geo-link:hover,
.geo-link:focus {
    color: var(--hov-foc-color);
}
.mail-link:hover,
.mail-link:focus {
    color: var(--hov-foc-color);
}
.tel-link:hover,
.tel-link:focus {
    color: var(--hov-foc-color);
}
.cont-link a {
    color: var(--secondari-text-col);
}
.main-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    color: var(--tagline-color);
    background-color:var(--secondari-background-color);
}

.button {
    color: var(--botton-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    background-color: var(--botton-color);
    font-weight: 700;
    cursor: pointer;
    font-family: inherit;
}
.features-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
}
.features-text {
    color: var(--secondari-text-col);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
} 
.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15;
    text-align: center;
}
.team {
    background-color:var(--section-background-color);
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15;
    text-align: center;
}

.team .list-item {
    background-color: var(--primari-background-color);
}

.team-subtitle {
    font-weight: 500;
}
.team-subtitle {
    font-weight: 400;
    color: var(--secondari-text-col);
}
.team-text, .team-subtitle {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}
.foot {
    background: var(--secondari-background-color);
}
.address a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}
.geo-link {
    color: var(--tagline-color);
}
.mail-link, .tel-link {
color:var(--footer-link-color)
}
    
/* portfolio */

.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color:var(--primari-text-col);
    cursor: pointer;
    font-family: inherit;
}
.filter-button:hover,
.filter-button:focus {
    color: var(--botton-text-color);
    background-color: var(--hov-foc-color);
}
.examples-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--primari-text-col);
}
.examples-text {
    font-size: 16px;
    line-height: 2;
    color: var(--secondari-text-col);
}
.examples-link:hover,
.examples-link:focus {
    background-color: var(--hov-foc-color);
}